* {
    box-sizing: border-box;
    /*border: 3px solid red;*/
    margin: 0;
}
body {
    text-align: center;
}

.class1 {
    display: flex;
    align-items: center; 
    justify-content: center;
    display: inline;
}
.class2 {
    display: block;
    width: 80px;
    margin: 0 auto;
}
.class3 {
    display: inline-block;
}
.content-wrapper {
    margin: o auto;
    
    max-width: 800px;
    width: 100%;
    min-width: 320px;
    
}