*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,p{
  font-style: italic;
}

body>section{
border: 2px solid red;
}

section>*{
  font-weight: bold;
}
body h2{
color: blueviolet;
}

h2+p{
  background-color: chartreuse;
}

h2+p~p{
  color: darkorange;
}