body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 40px;
  text-indent: 50px;
  letter-spacing: 3px;
  word-spacing: 10px;
  white-space:pre;
  text-transform: capitalize;
  
}
div {
    border: 2px solid red;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}